@tailwind base;
@tailwind components;
@tailwind utilities;

$white-color: #FFF5EA;
$beige-color: #F0CBA2;
$yellow-color: #F1AC1D;
$black-color: #1E110D;
$brown-color: #52433F;
$red-color: #C33F34;


body, * {
    margin: 0;
    padding: 0;
    background-color: $white-color;
    font-family: 'Inter', sans-serif;
}
