@tailwind base;
@tailwind components;
@tailwind utilities;

$white-color: #FFF5EA;
$beige-color: #F0CBA2;
$beige2-color: #AAA49D;
$beigelight-color: #F9E4CD;
$beigelight2-color: #F3E6D8;
$yellow-color: #F1AC1D;
$black-color: #1E110D;
$brown-color: #52433F;
$lightbrown-color: #7D5546;
$red-color: #C33F34;


body, * {
    margin: 0;
    padding: 0;
}

* { 
    font-family: 'Inter', sans-serif !important;
}

.testimonial {
    -webkit-box-shadow: 24px 22px 0px 0px rgba(82,67,63,1);
    -moz-box-shadow: 24px 22px 0px 0px rgba(82,67,63,1);
    box-shadow: 24px 22px 0px 0px rgba(82,67,63,1);
}

.slick-slider {
    height: 160px;
}
.slick-dots {
    position: absolute;
    padding-top: 30px;
    & > li {
        margin: 0 5px;
        width: 13px;
        height: 13px;
        background-color: #F3E6D8;
        border-radius: 10px;
        &.slick-active {
            background-color: #F1AC1D;
    
        } 
        & > button::before {
            font-size: 0;
        }
    }
}

@media(max-width: 1024px) {
    
    .testimonial {
        -webkit-box-shadow: 16px 18px 0px 0px rgba(82,67,63,1);
        -moz-box-shadow: 16px 18px 0px 0px rgba(82,67,63,1);
        box-shadow: 16px 18px 0px 0px rgba(82,67,63,1);
    }

}